@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.faqheader{
    #headers{
        .header-minibox{
            .boxes{
                .orta{
                    ul{
                        .li2{
                            a{

                                border-bottom: 1px solid #34C759;
                            }
                        }
                    }
                }
            }
        }
    }
}
#faq {
    background-color: black;
    padding: 4rem 0;
    overflow: hidden;

    .faq-mini {
        width: 90%;
        margin: auto;
        overflow: hidden;

        .faq-minibox {
            .box-mini {
                margin: 1rem 0;

                .box {
                    margin: 0 10px;

                    hr {
                        color: white;
                    }

                    h4 {
                        color: white;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: "Poppins", serif;
                    }

                    p {
                        padding: 20px 0;
                        color: #DFE5E6;
                        font-size: 1rem;
                        font-family: "Poppins", serif;
                    }
                }

            }

            .boxes {
                margin: 2rem 0 4rem;

                div {
                    h1 {
                        color: white;
                        font-weight: bold;
                        font-size: 3.5rem;
                        font-family: "Poppins", serif;
                    }

                    h5 {
                        color: white;
                        font-size: 1rem;
                        font-weight: 500;
                        width: 90%;
                        padding: 15px 0 10px;
                        font-family: "Poppins", serif;
                    }

                    p {
                        color: #DFE5E6;
                        font-size: 14px;
                        font-family: "Poppins", serif;
                    }
                }
            }

            .inp {
                display: flex;
                justify-content: end;

                .input-container {
                    position: relative;
                    width: fit-content;
                    width: 70%;

                    input {
                        background-color: #28282A;
                        outline: none;
                        color: white;
                        border: none;
                        padding-right: 30px;
                        padding-left: 10px;
                        width: 100%;
                        border-radius: 10px;
                        padding: 5px 10px;

                    }

                    input::placeholder {
                        font-size: 13px;
                        font-family: "Poppins", serif;
                        color: #DFE5E6;
                    }

                    a {
                        text-decoration: none;
                        color: #DFE5E6;

                        i {
                            position: absolute;
                            right: 10px;
                            top: 10%;
                            transform: translateY(-50%);
                            pointer-events: none;
                        }
                    }
                }


            }
        }
    }


}

@media(max-width:600px) {
    #faq {
        overflow: hidden;
        .faq-mini {
            overflow: hidden;
            .faq-minibox {
                width: 100%;
                margin: auto;

                .boxes {

                    div {
                        h1 {
                            font-size: 2rem;
                        }

                        h5 {
                            width: 100%;
                        }


                    }
                }

                .inp {

                    .input-container {
                        width: 100%;

                        a {

                            i {
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }


                }
            }
        }


    }
}

@media(min-width:600px) and (max-width:768px) {
    #faq {
        overflow: hidden;
        .faq-mini {
            overflow: hidden;
            .faq-minibox {
                .boxes {
                    div {
                        h1 {
                            font-size: 2rem;
                        }

                        h5 {
                            width: 100%;
                        }

                        a {
                            i {
                                top: 8% !important;
                            }
                        }
                    }


                }
            }
        }


    }
}

@media(min-width:768px) and (max-width:992px) {
    #faq {
        overflow: hidden;
        .faq-mini {
            overflow: hidden;
            .faq-minibox {
                .boxes {
                    div {
                        h1 {
                            color: white;
                            font-weight: bold;
                            font-size: 2rem;
                        }

                        a {
                            i {
                                top: 8%;
                            }
                        }
                    }


                }
            }
        }


    }
}